# Projeto 1 - Ciência dos Dados

Nome: Enzo Qental

Nome: João Pedro Artese de Natal

Nome: João Pedro Ramos Fiorin

Atenção: Serão permitidos grupos de três pessoas, mas com uma rubrica mais exigente. Grupos deste tamanho precisarão fazer um questionário de avaliação de trabalho em equipe

___
Carregando algumas bibliotecas:

In [132]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
import re

In [133]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\jprfi\OneDrive\Área de Trabalho\CDADOS\Projeto 1\CDADOS-P1

Carregando a base de dados com os tweets classificados como relevantes e não relevantes:

In [134]:
filename = 'Iphone1250.xlsx'

In [135]:
train = pd.read_excel(filename)
train.head(5)

                                         Treinamento  Relevância
0  eu achava iphone caro,até pagar o preço de nun...           1
1  novamente sem carregador, essa vida usuária de...           2
2  se fôssemos trocar de celular vocês ficariam c...           2
3  @zaynikr mas gente, ela tem uns 3 telefones co...           2
4  esse face id do iphone que se eu tiver com a b...           3

In [136]:
test = pd.read_excel(filename, sheet_name = 'Teste')
test.head(5)

                                               Teste  Relevância
0    voltei c iphone, que sdd que eu estava meu deus           1
1    @user928373891 sofreu por ser usuário de iphone           0
2  so pq tem um iphone, é triste viu kkkkkjjjjj h...           0
3  vendo carregador de iphone (novinho e preço ne...           0
4  ela vive dando reply nos story usando iphone k...           0

___
## Classificador automático de sentimento

Faça aqui uma descrição do seu produto e o que considerou como relevante ou não relevante na classificação dos tweets.

Celular da Apple. Consideramos como uma postagem relevante quando o conteúdo se trata de alguma crítica ou análise sobre o produto, caso o contrário, consideramos como não relevante.

___
### Montando as funções de limpeza dos twits.

Criando as funções que irão limpar os nossos dados das duas planilhas(Treinamento e Teste).

In [137]:
def cleanup(text):
    punctuation = '[!-.:?;()\'",_%$\\|/,<>[\]]'
    pattern = re.compile(punctuation)
    text_subbed = re.sub(pattern, '', text).lower()

    filtro = filter(lambda palavra: palavra[0]!='@', text_subbed.split())
    return list(filtro)

In [138]:
train['Treinamento'] = train['Treinamento'].apply(cleanup)
train

                                           Treinamento  Relevância
0    [eu, achava, iphone, caroaté, pagar, o, preço,...           1
1    [novamente, sem, carregador, essa, vida, usuár...           2
2    [se, fôssemos, trocar, de, celular, vocês, fic...           2
3    [mas, gente, ela, tem, uns, 3, telefones, como...           2
4    [esse, face, id, do, iphone, que, se, eu, tive...           3
..                                                 ...         ...
995  [iphone, xr, 89, de, bateria, amigo, está, ven...           1
996  [meu, namorado, me, deu, um, iphone, com, a, p...           1
997  [a, saudade, que, to, do, meu, iphone, é, surr...           1
998  [queria, criar, meu, vsco, logo, mas, iphone, ...           1
999  [meta, comprar, um, iphone, pra, nunca, mais, ...           1

[1000 rows x 2 columns]

In [139]:
test['Teste'] = test['Teste'].apply(cleanup)
test

                                                 Teste  Relevância
0    [voltei, c, iphone, que, sdd, que, eu, estava,...           1
1              [sofreu, por, ser, usuário, de, iphone]           0
2    [so, pq, tem, um, iphone, é, triste, viu, kkkk...           0
3    [vendo, carregador, de, iphone, novinho, e, pr...           0
4    [ela, vive, dando, reply, nos, story, usando, ...           0
..                                                 ...         ...
245  [como, instalar, o, whatsapp, gb, watusi, no, ...           0
246  [minha, vida, mudou, depois, que, o, vinicius,...           0
247  [a, bateria, do, meu, celular, tá, parecendo, ...           2
248                   [narcisa, me, dá, um, iphone, 🥺]           0
249    [eu, achando, q, era, cabo, de, iphone, kkkkkk]           0

[250 rows x 2 columns]

___
### Montando um Classificador Naive-Bayes

Considerando apenas as mensagens da planilha Treinamento, ensine  seu classificador.

In [140]:
# Separando os tweets por relevância.
muito_relevante = train['Relevância'] == 3
relevante = train['Relevância'] == 2
irrelevante = train['Relevância'] == 1
muito_irrelevante = train['Relevância'] == 0

In [141]:
# Separando os tweets por relevância em variáveis.
df_muito_relevante = train.loc[muito_relevante, :]
df_relevante = train.loc[relevante, :]
df_irrelevante = train.loc[irrelevante, :]
df_muito_irrelevante = train.loc[muito_irrelevante, :]

In [142]:
# Colocando todas as palavras, por categoria, em uma lista.
total_palavras_mr = sum(df_muito_relevante['Treinamento'], [])
total_palavras_r = sum(df_relevante['Treinamento'], [])
total_palavras_i = sum(df_irrelevante['Treinamento'], [])
total_palavras_mi = sum(df_muito_irrelevante['Treinamento'], [])

In [143]:
# Transformando as palavras da lista em um Pandas Series. 
series_mr = pd.Series(total_palavras_mr)
series_r = pd.Series(total_palavras_r)
series_i = pd.Series(total_palavras_i)
series_mi = pd.Series(total_palavras_mi)

In [144]:
# Calculando o total de palavras, sem repetições, de todas as categorias.
tot_palavras_sem_rep = len(series_mr.value_counts()) + len(series_r.value_counts()) + len(series_i.value_counts()) + len(series_mi.value_counts())

In [145]:
# Total de palavras por categoria. 
total_mr = len(total_palavras_mr)
total_r = len(total_palavras_r)
total_i = len(total_palavras_i)
total_mi = len(total_palavras_mi)

In [146]:
# Probabilidade de cada categoria: 
prob_mr = len(df_muito_relevante)/len(train["Treinamento"])
prob_r = len(df_relevante)/len(train["Treinamento"])
prob_i = len(df_irrelevante)/len(train["Treinamento"])
prob_mi = len(df_muito_irrelevante)/len(train["Treinamento"])

In [147]:
import numpy

def classifica(frase):
    lista_palavras_frase = frase.split(' ')
    alfa = 1
    lista_mr = []
    lista_r = []
    lista_i = []
    lista_mi = []
    
    for palavra in lista_palavras_frase:
        if palavra in total_palavras_mr or palavra in total_palavras_r or palavra in total_palavras_i or palavra in total_palavras_mi:
            qtd_mr = series_mr.value_counts()[palavra]
            qtd_r = series_r.value_counts()[palavra]
            qtd_i = series_i.value_counts()[palavra]
            qtd_mi = series_mi.value_counts()[palavra]
            
            prob_palavra_mr = lista_mr.append((qtd_mr + alfa) / (total_mr + tot_palavras_sem_rep))
            prob_palavra_r = lista_r.append((qtd_r + alfa) / (total_r + tot_palavras_sem_rep))
            prob_palavra_i = lista_i.append((qtd_i + alfa) / (total_i + tot_palavras_sem_rep))
            prob_palavra_mi = lista_mi.append((qtd_mi + alfa) / (total_mi + tot_palavras_sem_rep))
        
        else: 
            prob_palavra_mr = lista_mr.append(alfa / (total_mr + tot_palavras_sem_rep))
            prob_palavra_r = lista_r.append(alfa / (total_r + tot_palavras_sem_rep))
            prob_palavra_i = lista_i.append(alfa / (total_i + tot_palavras_sem_rep))
            prob_palavra_mi = lista_mi.append(alfa / (total_mi + tot_palavras_sem_rep))
            
            
    prob_total_mr = numpy.prod(lista_mr) * prob_mr
    prob_total_r = numpy.prod(lista_r) * prob_r
    prob_total_i = numpy.prod(lista_i) * prob_i
    prob_total_mi = numpy.prod(lista_mi) * prob_mi
    
    lista_prob_total = [prob_total_mr,prob_total_r,prob_total_i,prob_total_mi]
    
    return max(lista_prob_total)

___
### Verificando a performance do Classificador

Agora você deve testar o seu classificador com a base de Testes.

___
### Concluindo

___
### Qualidade do Classificador a partir de novas separações dos tweets entre Treinamento e Teste

Caso for fazer esse item do Projeto

___
## Aperfeiçoamento:

Trabalhos que conseguirem pelo menos conceito B vão evoluir em conceito dependendo da quantidade de itens avançados:

* IMPLEMENTOU outras limpezas e transformações que não afetem a qualidade da informação contida nos tweets. Ex: stemming, lemmatization, stopwords
* CORRIGIU separação de espaços entre palavras e emojis ou entre emojis e emojis
* CRIOU categorias intermediárias de relevância baseadas na probabilidade: ex.: muito relevante, relevante, neutro, irrelevante, muito irrelevante. Pelo menos quatro categorias, com adição de mais tweets na base, conforme enunciado. (OBRIGATÓRIO PARA TRIOS, sem contar como item avançado)
* EXPLICOU porquê não pode usar o próprio classificador para gerar mais amostras de treinamento
* PROPÔS diferentes cenários para Naïve Bayes fora do contexto do projeto
* SUGERIU e EXPLICOU melhorias reais com indicações concretas de como implementar (indicar como fazer e indicar material de pesquisa)
* FEZ o item 6. Qualidade do Classificador a partir de novas separações dos tweets entre Treinamento e Teste descrito no enunciado do projeto (OBRIGATÓRIO para conceitos A ou A+)

___
## Referências

[Naive Bayes and Text Classification](https://arxiv.org/pdf/1410.5329.pdf)  **Mais completo**

[A practical explanation of a Naive Bayes Classifier](https://monkeylearn.com/blog/practical-explanation-naive-bayes-classifier/) **Mais simples**