# Projeto 1 - Ci√™ncia dos Dados

Nome: Enzo Qental

Nome: Jo√£o Pedro Artese de Natal

Nome: Jo√£o Pedro Ramos Fiorin

Aten√ß√£o: Ser√£o permitidos grupos de tr√™s pessoas, mas com uma rubrica mais exigente. Grupos deste tamanho precisar√£o fazer um question√°rio de avalia√ß√£o de trabalho em equipe

___
Carregando algumas bibliotecas:

In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [2]:
print('Esperamos trabalhar no diret√≥rio')
print(os.getcwd())

Esperamos trabalhar no diret√≥rio
C:\Users\jprfi\OneDrive\√Årea de Trabalho\CDADOS\Projeto 1\CDADOS-P1

Carregando a base de dados com os tweets classificados como relevantes e n√£o relevantes:

In [3]:
filename = 'Iphone1250.xlsx'

In [4]:
train = pd.read_excel(filename)
train.head(5)

,Treinamento,"Relev√¢ncia (0-->Muito Irrelevante, 1-->Irrelevante, 2-->Relevante, 3--> Muito Relevante)"
0,"eu achava iphone caro,at√© pagar o pre√ßo de nun...",1
1,"novamente sem carregador, essa vida usu√°ria de...",2
2,se f√¥ssemos trocar de celular voc√™s ficariam c...,2
3,"@zaynikr mas gente, ela tem uns 3 telefones co...",2
4,esse face id do iphone que se eu tiver com a b...,3

In [6]:
test = pd.read_excel(filename, sheet_name = 'Teste')
test.head(5)

,Teste,"Relev√¢ncia (0-->Muito Irrelevante, 1-->Irrelevante, 2-->Relevante, 3--> Muito Relevante)"
0,"voltei c iphone, que sdd que eu estava meu deus",1
1,@user928373891 sofreu por ser usu√°rio de iphone,0
2,"so pq tem um iphone, √© triste viu kkkkkjjjjj h...",0
3,vendo carregador de iphone (novinho e pre√ßo ne...,0
4,ela vive dando reply nos story usando iphone k...,0

___
## Classificador autom√°tico de sentimento

Fa√ßa aqui uma descri√ß√£o do seu produto e o que considerou como relevante ou n√£o relevante na classifica√ß√£o dos tweets.

Celular da Apple. Consideramos como uma postagem relevante quando o conte√∫do se trata de alguma cr√≠tica ou an√°lise sobre o produto, caso o contr√°rio, consideramos como n√£o relevante.

___
### Montando as fun√ß√µes de limpeza dos twits.

Criando as fun√ß√µes que ir√£o limpar os nossos dados das duas planilhas(Treinamento e Teste).

In [22]:
train['Treinamento'] = train['Treinamento'].str.replace('[!-.:?\n*();/]', '')
train

,Treinamento,"Relev√¢ncia (0-->Muito Irrelevante, 1-->Irrelevante, 2-->Relevante, 3--> Muito Relevante)"
0,eu achava iphone caroat√© pagar o pre√ßo de nunc...,1
1,novamente sem carregador essa vida usu√°ria de ...,2
2,se f√¥ssemos trocar de celular voc√™s ficariam c...,2
3,@zaynikr mas gente ela tem uns 3 telefones com...,2
4,esse face id do iphone que se eu tiver com a b...,3
...,...,...
995,iphone xr 89 de bateria amigo est√° vendendo ma...,1
996,meu namorado me deu um iphone com a parte de t...,1
997,a saudade que to do meu iphone √© surreal üò´,1
998,queria criar meu vsco logo mas iphone √© tenso ...,1
999,meta comprar um iphone pra nunca mais passar r...,1

In [23]:
test['Teste'] = test['Teste'].str.replace('[!-.:?\n*();/]', '')
test

,Teste,"Relev√¢ncia (0-->Muito Irrelevante, 1-->Irrelevante, 2-->Relevante, 3--> Muito Relevante)"
0,voltei c iphone que sdd que eu estava meu deus,1
1,@user928373891 sofreu por ser usu√°rio de iphone,0
2,so pq tem um iphone √© triste viu kkkkkjjjjj ht...,0
3,vendo carregador de iphone novinho e pre√ßo neg...,0
4,ela vive dando reply nos story usando iphone k...,0
...,...,...
245,como instalar o whatsapp gb watusi no seu iph...,0
246,minha vida mudou depois que o vinicius desativ...,0
247,a bateria do meu celular t√° parecendo de iphon...,2
248,@narcisa narcisa me d√° um iphone ü•∫,0
249,@bbtalkes eu achando q era cabo de iphone kkkkkk,0

___
### Montando um Classificador Naive-Bayes

Considerando apenas as mensagens da planilha Treinamento, ensine  seu classificador.

___
### Verificando a performance do Classificador

Agora voc√™ deve testar o seu classificador com a base de Testes.

___
### Concluindo

___
### Qualidade do Classificador a partir de novas separa√ß√µes dos tweets entre Treinamento e Teste

Caso for fazer esse item do Projeto

___
## Aperfei√ßoamento:

Trabalhos que conseguirem pelo menos conceito B v√£o evoluir em conceito dependendo da quantidade de itens avan√ßados:

* IMPLEMENTOU outras limpezas e transforma√ß√µes que n√£o afetem a qualidade da informa√ß√£o contida nos tweets. Ex: stemming, lemmatization, stopwords
* CORRIGIU separa√ß√£o de espa√ßos entre palavras e emojis ou entre emojis e emojis
* CRIOU categorias intermedi√°rias de relev√¢ncia baseadas na probabilidade: ex.: muito relevante, relevante, neutro, irrelevante, muito irrelevante. Pelo menos quatro categorias, com adi√ß√£o de mais tweets na base, conforme enunciado. (OBRIGAT√ìRIO PARA TRIOS, sem contar como item avan√ßado)
* EXPLICOU porqu√™ n√£o pode usar o pr√≥prio classificador para gerar mais amostras de treinamento
* PROP√îS diferentes cen√°rios para Na√Øve Bayes fora do contexto do projeto
* SUGERIU e EXPLICOU melhorias reais com indica√ß√µes concretas de como implementar (indicar como fazer e indicar material de pesquisa)
* FEZ o item 6. Qualidade do Classificador a partir de novas separa√ß√µes dos tweets entre Treinamento e Teste descrito no enunciado do projeto (OBRIGAT√ìRIO para conceitos A ou A+)

___
## Refer√™ncias

[Naive Bayes and Text Classification](https://arxiv.org/pdf/1410.5329.pdf)  **Mais completo**

[A practical explanation of a Naive Bayes Classifier](https://monkeylearn.com/blog/practical-explanation-naive-bayes-classifier/) **Mais simples**