# Projeto 1 - Ci√™ncia dos Dados

Nome: Enzo Qental

Nome: Jo√£o Pedro Artese de Natal

Nome: Jo√£o Pedro Ramos Fiorin

Aten√ß√£o: Ser√£o permitidos grupos de tr√™s pessoas, mas com uma rubrica mais exigente. Grupos deste tamanho precisar√£o fazer um question√°rio de avalia√ß√£o de trabalho em equipe

___
Carregando algumas bibliotecas:

In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
import re

In [2]:
print('Esperamos trabalhar no diret√≥rio')
print(os.getcwd())

Esperamos trabalhar no diret√≥rio
C:\Users\jprfi\OneDrive\√Årea de Trabalho\CDADOS\Projeto 1\CDADOS-P1

Carregando a base de dados com os tweets classificados como relevantes e n√£o relevantes:

In [3]:
filename = 'Iphone1250.xlsx'

In [4]:
train = pd.read_excel(filename)
train.head(5)

                                         Treinamento  Relev√¢ncia
0  eu achava iphone caro,at√© pagar o pre√ßo de nun...           1
1  novamente sem carregador, essa vida usu√°ria de...           2
2  se f√¥ssemos trocar de celular voc√™s ficariam c...           2
3  @zaynikr mas gente, ela tem uns 3 telefones co...           2
4  esse face id do iphone que se eu tiver com a b...           3

In [5]:
test = pd.read_excel(filename, sheet_name = 'Teste')
test.head(5)

                                               Teste  Relev√¢ncia
0    voltei c iphone, que sdd que eu estava meu deus           1
1    @user928373891 sofreu por ser usu√°rio de iphone           0
2  so pq tem um iphone, √© triste viu kkkkkjjjjj h...           0
3  vendo carregador de iphone (novinho e pre√ßo ne...           0
4  ela vive dando reply nos story usando iphone k...           0

___
## Classificador autom√°tico de sentimento

Fa√ßa aqui uma descri√ß√£o do seu produto e o que considerou como relevante ou n√£o relevante na classifica√ß√£o dos tweets.

Celular da Apple. Consideramos como uma postagem relevante quando o conte√∫do se trata de alguma cr√≠tica ou an√°lise sobre o produto, caso o contr√°rio, consideramos como n√£o relevante.

___
### Montando as fun√ß√µes de limpeza dos twits.

Criando as fun√ß√µes que ir√£o limpar os nossos dados das duas planilhas(Treinamento e Teste).

In [6]:
def cleanup(text):
    punctuation = '[!-.:?;()\'",_%$\\|/,<>[\]]'
    pattern = re.compile(punctuation)
    text_subbed = re.sub(pattern, '', text).lower()

    filtro = filter(lambda palavra: palavra[0]!='@', text_subbed.split())
    return list(filtro)

In [7]:
train['Treinamento'] = train['Treinamento'].apply(cleanup)
train

                                           Treinamento  Relev√¢ncia
0    [eu, achava, iphone, caroat√©, pagar, o, pre√ßo,...           1
1    [novamente, sem, carregador, essa, vida, usu√°r...           2
2    [se, f√¥ssemos, trocar, de, celular, voc√™s, fic...           2
3    [mas, gente, ela, tem, uns, 3, telefones, como...           2
4    [esse, face, id, do, iphone, que, se, eu, tive...           3
..                                                 ...         ...
995  [iphone, xr, 89, de, bateria, amigo, est√°, ven...           1
996  [meu, namorado, me, deu, um, iphone, com, a, p...           1
997  [a, saudade, que, to, do, meu, iphone, √©, surr...           1
998  [queria, criar, meu, vsco, logo, mas, iphone, ...           1
999  [meta, comprar, um, iphone, pra, nunca, mais, ...           1

[1000 rows x 2 columns]

In [8]:
test['Teste'] = test['Teste'].apply(cleanup)
test

                                                 Teste  Relev√¢ncia
0    [voltei, c, iphone, que, sdd, que, eu, estava,...           1
1              [sofreu, por, ser, usu√°rio, de, iphone]           0
2    [so, pq, tem, um, iphone, √©, triste, viu, kkkk...           0
3    [vendo, carregador, de, iphone, novinho, e, pr...           0
4    [ela, vive, dando, reply, nos, story, usando, ...           0
..                                                 ...         ...
245  [como, instalar, o, whatsapp, gb, watusi, no, ...           0
246  [minha, vida, mudou, depois, que, o, vinicius,...           0
247  [a, bateria, do, meu, celular, t√°, parecendo, ...           2
248                   [narcisa, me, d√°, um, iphone, ü•∫]           0
249    [eu, achando, q, era, cabo, de, iphone, kkkkkk]           0

[250 rows x 2 columns]

___
### Montando um Classificador Naive-Bayes

Considerando apenas as mensagens da planilha Treinamento, ensine  seu classificador.

In [19]:
# Separando os tweets por relev√¢ncia.
muito_relevante = train['Relev√¢ncia'] == 3
relevante = train['Relev√¢ncia'] == 2
irrelevante = train['Relev√¢ncia'] == 1
muito_irrelevante = train['Relev√¢ncia'] == 0

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Name: Relev√¢ncia, Length: 1000, dtype: bool

In [20]:
# Separando os tweets por relev√¢ncia em vari√°veis.
df_muito_relevante = train.loc[muito_relevante, :]
df_relevante = train.loc[relevante, :]
df_irrelevante = train.loc[irrelevante, :]
df_muito_irrelevante = train.loc[muito_irrelevante, :]

                                           Treinamento  Relev√¢ncia
0    [eu, achava, iphone, caroat√©, pagar, o, pre√ßo,...           1
8    [o, mal, de, ter, iphone, √©, que, se, voc√™, es...           1
11   [eu, achava, iphone, caro, at√©, pagar, o, pre√ß...           1
12   [meu, irm√£o, pegou, um, iphone, xs, j√°, t√¥, at...           1
13                        [eu, so, queria, um, iphone]           1
..                                                 ...         ...
995  [iphone, xr, 89, de, bateria, amigo, est√°, ven...           1
996  [meu, namorado, me, deu, um, iphone, com, a, p...           1
997  [a, saudade, que, to, do, meu, iphone, √©, surr...           1
998  [queria, criar, meu, vsco, logo, mas, iphone, ...           1
999  [meta, comprar, um, iphone, pra, nunca, mais, ...           1

[275 rows x 2 columns]

In [11]:
# Colocando todas as palavras, por categoria, em uma lista.
total_palavras_mr = sum(df_muito_relevante['Treinamento'], [])
total_palavras_r = sum(df_relevante['Treinamento'], [])
total_palavras_i = sum(df_irrelevante['Treinamento'], [])
total_palavras_mi = sum(df_muito_irrelevante['Treinamento'], [])

In [12]:
# Transformando as palavras da lista em um Pandas Series. 
series_mr = pd.Series(total_palavras_mr)
series_r = pd.Series(total_palavras_r)
series_i = pd.Series(total_palavras_i)
series_mi = pd.Series(total_palavras_mi)

In [13]:
# Suaviza√ß√£o de Laplace.
# Com o Œ± = 1, n√≥s evitamos que algum resultado de 0.
Œ± = 1  
# Um chute que n√≥s demos de quantas palavras poderiam ter na l√≠ngua portuguesa que n√£o est√£o aqui.
tot_lp = 1e5

In [14]:
# Frequ√™ncia relativa dos muito relevantes.
freq_abs_mr = series_mr.value_counts()
freq_relat_mr = (freq_abs_mr + Œ±)/(freq_abs_mr.sum() + tot_lp)

In [15]:
# Frequ√™ncia relativa dos relevantes.
freq_abs_r = series_r.value_counts()
freq_relat_r = (freq_abs_r + Œ±)/(freq_abs_r.sum() + tot_lp)

In [16]:
# Frequ√™ncia relativa dos irrelevantes.
freq_abs_i = series_i.value_counts()
freq_relat_i = (freq_abs_i + Œ±)/(freq_abs_i.sum() + tot_lp)

In [17]:
# Frequ√™ncia relativa dos muito irrelevantes.
freq_abs_mi = series_mi.value_counts()
freq_relat_mi = (freq_abs_mi + Œ±)/(freq_abs_mi.sum() + tot_lp)

In [18]:
# Probabilidade de cada categoria: 
prob_mr = len(df_muito_relevante)/len(train["Treinamento"])
prob_r = len(df_relevante)/len(train["Treinamento"])
prob_i = len(df_irrelevante)/len(train["Treinamento"])
prob_mi = len(df_muito_irrelevante)/len(train["Treinamento"])

___
### Verificando a performance do Classificador

Agora voc√™ deve testar o seu classificador com a base de Testes.

___
### Concluindo

___
### Qualidade do Classificador a partir de novas separa√ß√µes dos tweets entre Treinamento e Teste

Caso for fazer esse item do Projeto

___
## Aperfei√ßoamento:

Trabalhos que conseguirem pelo menos conceito B v√£o evoluir em conceito dependendo da quantidade de itens avan√ßados:

* IMPLEMENTOU outras limpezas e transforma√ß√µes que n√£o afetem a qualidade da informa√ß√£o contida nos tweets. Ex: stemming, lemmatization, stopwords
* CORRIGIU separa√ß√£o de espa√ßos entre palavras e emojis ou entre emojis e emojis
* CRIOU categorias intermedi√°rias de relev√¢ncia baseadas na probabilidade: ex.: muito relevante, relevante, neutro, irrelevante, muito irrelevante. Pelo menos quatro categorias, com adi√ß√£o de mais tweets na base, conforme enunciado. (OBRIGAT√ìRIO PARA TRIOS, sem contar como item avan√ßado)
* EXPLICOU porqu√™ n√£o pode usar o pr√≥prio classificador para gerar mais amostras de treinamento
* PROP√îS diferentes cen√°rios para Na√Øve Bayes fora do contexto do projeto
* SUGERIU e EXPLICOU melhorias reais com indica√ß√µes concretas de como implementar (indicar como fazer e indicar material de pesquisa)
* FEZ o item 6. Qualidade do Classificador a partir de novas separa√ß√µes dos tweets entre Treinamento e Teste descrito no enunciado do projeto (OBRIGAT√ìRIO para conceitos A ou A+)

___
## Refer√™ncias

[Naive Bayes and Text Classification](https://arxiv.org/pdf/1410.5329.pdf)  **Mais completo**

[A practical explanation of a Naive Bayes Classifier](https://monkeylearn.com/blog/practical-explanation-naive-bayes-classifier/) **Mais simples**