# Projeto 1 - Ciência dos Dados

Nome: Enzo Qental

Nome: João Pedro Artese de Natal

Nome: João Pedro Ramos Fiorin

Atenção: Serão permitidos grupos de três pessoas, mas com uma rubrica mais exigente. Grupos deste tamanho precisarão fazer um questionário de avaliação de trabalho em equipe

___
Carregando algumas bibliotecas:

In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
import re

In [2]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\jprfi\OneDrive\Área de Trabalho\CDADOS\Projeto 1\CDADOS-P1

Carregando a base de dados com os tweets classificados como relevantes e não relevantes:

In [3]:
filename = 'Iphone1250.xlsx'

In [4]:
train = pd.read_excel(filename)
train.head(5)

                                         Treinamento  Relevância
0  eu achava iphone caro,até pagar o preço de nun...           1
1  novamente sem carregador, essa vida usuária de...           2
2  se fôssemos trocar de celular vocês ficariam c...           2
3  @zaynikr mas gente, ela tem uns 3 telefones co...           2
4  esse face id do iphone que se eu tiver com a b...           3

In [5]:
test = pd.read_excel(filename, sheet_name = 'Teste')
test.head(5)

                                               Teste  Relevância
0    voltei c iphone, que sdd que eu estava meu deus           1
1    @user928373891 sofreu por ser usuário de iphone           0
2  so pq tem um iphone, é triste viu kkkkkjjjjj h...           0
3  vendo carregador de iphone (novinho e preço ne...           0
4  ela vive dando reply nos story usando iphone k...           0

___
## Classificador automático de sentimento

Faça aqui uma descrição do seu produto e o que considerou como relevante ou não relevante na classificação dos tweets.

Celular da Apple. Consideramos como uma postagem relevante quando o conteúdo se trata de alguma crítica ou análise sobre o produto, caso o contrário, consideramos como não relevante.

___
### Montando as funções de limpeza dos twits.

Criando as funções que irão limpar os nossos dados das duas planilhas(Treinamento e Teste).

In [6]:
def cleanup(text):
    punctuation = '[!-.:?;()\'",_%$\\|/,<>[\]]'
    pattern = re.compile(punctuation)
    text_subbed = re.sub(pattern, '', text).lower()

    filtro = filter(lambda palavra: palavra[0]!='@', text_subbed.split())
    return list(filtro)

In [7]:
train['Treinamento'] = train['Treinamento'].apply(cleanup)
train

                                           Treinamento  Relevância
0    [eu, achava, iphone, caroaté, pagar, o, preço,...           1
1    [novamente, sem, carregador, essa, vida, usuár...           2
2    [se, fôssemos, trocar, de, celular, vocês, fic...           2
3    [mas, gente, ela, tem, uns, 3, telefones, como...           2
4    [esse, face, id, do, iphone, que, se, eu, tive...           3
..                                                 ...         ...
995  [iphone, xr, 89, de, bateria, amigo, está, ven...           1
996  [meu, namorado, me, deu, um, iphone, com, a, p...           1
997  [a, saudade, que, to, do, meu, iphone, é, surr...           1
998  [queria, criar, meu, vsco, logo, mas, iphone, ...           1
999  [meta, comprar, um, iphone, pra, nunca, mais, ...           1

[1000 rows x 2 columns]

In [8]:
test['Teste'] = test['Teste'].apply(cleanup)
test

                                                 Teste  Relevância
0    [voltei, c, iphone, que, sdd, que, eu, estava,...           1
1              [sofreu, por, ser, usuário, de, iphone]           0
2    [so, pq, tem, um, iphone, é, triste, viu, kkkk...           0
3    [vendo, carregador, de, iphone, novinho, e, pr...           0
4    [ela, vive, dando, reply, nos, story, usando, ...           0
..                                                 ...         ...
245  [como, instalar, o, whatsapp, gb, watusi, no, ...           0
246  [minha, vida, mudou, depois, que, o, vinicius,...           0
247  [a, bateria, do, meu, celular, tá, parecendo, ...           2
248                   [narcisa, me, dá, um, iphone, 🥺]           0
249    [eu, achando, q, era, cabo, de, iphone, kkkkkk]           0

[250 rows x 2 columns]

___
### Montando um Classificador Naive-Bayes

Considerando apenas as mensagens da planilha Treinamento, ensine  seu classificador.

In [19]:
# Separando os tweets por relevância.
muito_relevante = train['Relevância'] == 3
relevante = train['Relevância'] == 2
irrelevante = train['Relevância'] == 1
muito_irrelevante = train['Relevância'] == 0

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Name: Relevância, Length: 1000, dtype: bool

In [20]:
# Separando os tweets por relevância em variáveis.
df_muito_relevante = train.loc[muito_relevante, :]
df_relevante = train.loc[relevante, :]
df_irrelevante = train.loc[irrelevante, :]
df_muito_irrelevante = train.loc[muito_irrelevante, :]

                                           Treinamento  Relevância
0    [eu, achava, iphone, caroaté, pagar, o, preço,...           1
8    [o, mal, de, ter, iphone, é, que, se, você, es...           1
11   [eu, achava, iphone, caro, até, pagar, o, preç...           1
12   [meu, irmão, pegou, um, iphone, xs, já, tô, at...           1
13                        [eu, so, queria, um, iphone]           1
..                                                 ...         ...
995  [iphone, xr, 89, de, bateria, amigo, está, ven...           1
996  [meu, namorado, me, deu, um, iphone, com, a, p...           1
997  [a, saudade, que, to, do, meu, iphone, é, surr...           1
998  [queria, criar, meu, vsco, logo, mas, iphone, ...           1
999  [meta, comprar, um, iphone, pra, nunca, mais, ...           1

[275 rows x 2 columns]

In [11]:
# Colocando todas as palavras, por categoria, em uma lista.
total_palavras_mr = sum(df_muito_relevante['Treinamento'], [])
total_palavras_r = sum(df_relevante['Treinamento'], [])
total_palavras_i = sum(df_irrelevante['Treinamento'], [])
total_palavras_mi = sum(df_muito_irrelevante['Treinamento'], [])

In [12]:
# Transformando as palavras da lista em um Pandas Series. 
series_mr = pd.Series(total_palavras_mr)
series_r = pd.Series(total_palavras_r)
series_i = pd.Series(total_palavras_i)
series_mi = pd.Series(total_palavras_mi)

In [13]:
# Suavização de Laplace.
# Com o α = 1, nós evitamos que algum resultado de 0.
α = 1  
# Um chute que nós demos de quantas palavras poderiam ter na língua portuguesa que não estão aqui.
tot_lp = 1e5

In [14]:
# Frequência relativa dos muito relevantes.
freq_abs_mr = series_mr.value_counts()
freq_relat_mr = (freq_abs_mr + α)/(freq_abs_mr.sum() + tot_lp)

In [15]:
# Frequência relativa dos relevantes.
freq_abs_r = series_r.value_counts()
freq_relat_r = (freq_abs_r + α)/(freq_abs_r.sum() + tot_lp)

In [16]:
# Frequência relativa dos irrelevantes.
freq_abs_i = series_i.value_counts()
freq_relat_i = (freq_abs_i + α)/(freq_abs_i.sum() + tot_lp)

In [17]:
# Frequência relativa dos muito irrelevantes.
freq_abs_mi = series_mi.value_counts()
freq_relat_mi = (freq_abs_mi + α)/(freq_abs_mi.sum() + tot_lp)

In [18]:
# Probabilidade de cada categoria: 
prob_mr = len(df_muito_relevante)/len(train["Treinamento"])
prob_r = len(df_relevante)/len(train["Treinamento"])
prob_i = len(df_irrelevante)/len(train["Treinamento"])
prob_mi = len(df_muito_irrelevante)/len(train["Treinamento"])

___
### Verificando a performance do Classificador

Agora você deve testar o seu classificador com a base de Testes.

___
### Concluindo

___
### Qualidade do Classificador a partir de novas separações dos tweets entre Treinamento e Teste

Caso for fazer esse item do Projeto

___
## Aperfeiçoamento:

Trabalhos que conseguirem pelo menos conceito B vão evoluir em conceito dependendo da quantidade de itens avançados:

* IMPLEMENTOU outras limpezas e transformações que não afetem a qualidade da informação contida nos tweets. Ex: stemming, lemmatization, stopwords
* CORRIGIU separação de espaços entre palavras e emojis ou entre emojis e emojis
* CRIOU categorias intermediárias de relevância baseadas na probabilidade: ex.: muito relevante, relevante, neutro, irrelevante, muito irrelevante. Pelo menos quatro categorias, com adição de mais tweets na base, conforme enunciado. (OBRIGATÓRIO PARA TRIOS, sem contar como item avançado)
* EXPLICOU porquê não pode usar o próprio classificador para gerar mais amostras de treinamento
* PROPÔS diferentes cenários para Naïve Bayes fora do contexto do projeto
* SUGERIU e EXPLICOU melhorias reais com indicações concretas de como implementar (indicar como fazer e indicar material de pesquisa)
* FEZ o item 6. Qualidade do Classificador a partir de novas separações dos tweets entre Treinamento e Teste descrito no enunciado do projeto (OBRIGATÓRIO para conceitos A ou A+)

___
## Referências

[Naive Bayes and Text Classification](https://arxiv.org/pdf/1410.5329.pdf)  **Mais completo**

[A practical explanation of a Naive Bayes Classifier](https://monkeylearn.com/blog/practical-explanation-naive-bayes-classifier/) **Mais simples**